.main-container {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
  width: 20%;
  height: 45%;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input, button {
  margin: 25px 15px;
}